@CHARSET "UTF-8";
body{
background: #fffafa;

	text-align:justify;
	text-justify: inter-ideograph;
}
.main-contents{
	width: 850px;
	border:1px solid #ff9900;
	margin: 5px auto;
}
.login-screen{
	width: 330px;

	margin: 5px auto;
}
.menu{
	background:#e6e6fa;
	width: 850px;
	margin: 5px auto;
	text-align: right;

}

.messages{
	background: #ffffee;
	width: 850px;
	margin: 5px auto;
	border: 1px solid #cccccc;
}
.message{
	background: #ffeeff;
	width: 800px;
	margin: 5px auto;

}
.text{
	border: 1px solid #cccccc;
	width : 800px;
	margin: 5px auto;
}
.showComment{
	background: #effffe;
	width: 600px;
	margin: 5px auto;
	border: 1px solid #cccccc;
}

.comments{
	background: #eeffee;
	width: 800px;
	margin: 5px auto;
}



.userlist{
	background: #ffffee;
	width: 850px;
	margin: 5px auto;
	border: 1px solid #cccccc;
}

.errorMessages{
	color: red;

}

.narrowing{
	background: #ffa07a;
	width: 850px;
	margin: 5px auto;
	border: 1px solid #cccccc;
}

.header{
	background:#e6e6fa;
	width: 850px;
	margin: 5px auto;
	border: 1px solid #cccccc;
	text-align: left;
}

.newPost{
	width: 850px;
	margin: 5px auto;
}


.userlist{
	width: 850px;
	border-collapse: collapse;
}
.userlist th{

	padding: 6px;
	text-align: center;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
.userlist td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

.inputvalue{
	width: 850px;
	border-collapse: collapse;
}
.inputvalue th{

	padding: 6px;
	text-align: center;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
.inputvalue td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

.newpost{
	width: 850px;
	border-collapse: collapse;
}


.newpost td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

.message{
	width: 800px;
	border-collapse: collapse;
}


.message td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}


.comments{
	width: 600px;
	border-collapse: collapse;

}
.comments th{

	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}

.comments td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

.postCount th{

	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}

.postCount td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

.userlist tr:nth-child(2n+1) td {
    background: #F0FFFF;
}

.ngwordlist{
	width: 450px;
	margin: 5px auto;
	border-collapse: collapse;
}
.ngwordlist th{

	padding: 6px;
	text-align: center;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
.ngwordlist td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}
.ngwordlist tr:nth-child(2n+1) td {
    background: #F0FFFF;
}

table{
	table-layout:auto;
}